html
  head
    title= title
  body
    h1= message
    |
    if user
      a(href='/logout') Logout
      |
      h2 User
      p Name: #{user.displayName}
      p Username: #{user.username}
      |
    else
      a(href='/login') Login with GitHub
    |
    h2 endlessm/godot-block-coding issues:
    each issue in issues
      p
        a(href=issue.html_url) #{issue.title} (##{issue.number})
