html
  head
    title= title
  body
    h1= message
    |
    if authenticated
      a(href='/logout') Logout
      |
      p Name: #{fullname}
      p Username: #{username}
    else
      a(href=`https://github.com/login/oauth/authorize?client_id=${client_id}`) Login with GitHub
